<%= form_with(model: @message, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :ancestry %>
    <%= f.text_field :ancestry, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :chat_id %>
    <%= f.collection_select :chat_id, Chat.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :user_id, value: @user.id %>

  <%= f.submit "Create message", class: "btn btn-block btn-outline-secondary" %>
<% end %>
