<%= form_with(model: @chat, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <%= f.hidden_field :creator_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :picture %>
    <%= f.text_field :picture, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :topic %>
    <%= f.text_area :topic, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :link %>
    <%= f.text_field :link, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :cover %>
    <%= f.text_field :cover, class: "form-control" %>
  </div>

  <div class="form-check">
    <%= f.check_box :event, class: "form-check-input" %>
    <%= f.label :event, class: "form-check-label" %>
  </div>

  <div class="form-group">
    <%= f.label :starts_at %>
    <%= f.text_field :starts_at, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :ends_at %>
    <%= f.text_field :ends_at, class: "form-control" %>
  </div>

  <%= f.submit "Create chat", class: "btn btn-block btn-outline-secondary" %>
<% end %>
