<%= form_with(model: @circle, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :picture %>
    <%= f.text_field :picture, class: "form-control" %>
  </div>

  <%= f.submit "Create circle", class: "btn btn-block btn-outline-secondary" %>
<% end %>
