<!-- Form circle start -->
<%= form_with(model: @circle, local: true) do |f| %>
<!-- Form circle end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <%= f.label :name %>
    <!-- Input for name start -->
    <%= f.text_field :name, class: "form-control" %>
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for user_id start -->
  <!-- Input for user_id start -->
  <%= f.hidden_field :user_id, value: @user.id %>
  <!-- Input for user_id end -->
  <!-- Label and input for user_id end -->

  <!-- Label and input for picture start -->
  <div class="form-group">
    <%= f.label :picture %>
    <!-- Input for picture start -->
    <%= f.text_field :picture, class: "form-control" %>
    <!-- Input for picture end -->
  </div>
  <!-- Label and input for picture end -->

  <%= f.submit "Create circle", class: "btn btn-block btn-outline-secondary" %>
<% end %>
