<%= form_with(model: @invitation, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :chat_id %>
    <%= f.collection_select :chat_id, Chat.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :token %>
    <%= f.text_field :token, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :clicked %>
    <%= f.text_field :clicked, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :rsvp_status %>
    <%= f.text_field :rsvp_status, class: "form-control" %>
  </div>

  <%= f.submit "Create invitation", class: "btn btn-block btn-outline-secondary" %>
<% end %>
