<%= search_form_for @q, :class => collapse_search_form, :id => "chats_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
  </div>

  <div class="form-group">
    <%= f.label :ends_at, "Ends at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='ends_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :ends_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Ends at greater than or equal to", :data => {:target => '#ends_atgteqPicker'} %>
          <div class="input-group-append" data-target='#ends_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='ends_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :ends_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Ends at less than or equal to", :data => {:target => '#ends_atlteqPicker'} %>
          <div class="input-group-append" data-target='#ends_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#ends_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#ends_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#ends_atgteqPicker').on("dp.change", function (e) {
              $('#ends_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#ends_atlteqPicker').on("dp.change", function (e) {
              $('#ends_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>

  <div class="form-group">
    <%= f.label :starts_at, "Starts at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='starts_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :starts_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Starts at greater than or equal to", :data => {:target => '#starts_atgteqPicker'} %>
          <div class="input-group-append" data-target='#starts_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='starts_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :starts_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Starts at less than or equal to", :data => {:target => '#starts_atlteqPicker'} %>
          <div class="input-group-append" data-target='#starts_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#starts_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#starts_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#starts_atgteqPicker').on("dp.change", function (e) {
              $('#starts_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#starts_atlteqPicker').on("dp.change", function (e) {
              $('#starts_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>

  <div class="form-group">
    <%= f.label :event_eq, "Event" %>
    <div>
      <label class="radio-inline">
        <%= f.radio_button :event_eq, "1", checked: ((params[:q] && params[:q][:event_eq]) == "1" ? "checked" : "") %> Yes
      </label>
      <label class="radio-inline">
        <%= f.radio_button :event_eq, "0", checked: ((params[:q] && params[:q][:event_eq]) == "0" ? "checked" : "")%> No
      </label>
      <label class="radio-inline">
        <%= f.radio_button :event_eq, ""%> Either
      </label>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :cover_cont, "Cover contains" %>
    <%= f.text_field :cover_cont, :class => "form-control", :placeholder => "Cover contains" %>
  </div>

  <div class="form-group">
    <%= f.label :link_cont, "Link contains" %>
    <%= f.text_field :link_cont, :class => "form-control", :placeholder => "Link contains" %>
  </div>

  <div class="form-group">
    <%= f.label :topic_cont, "Topic contains" %>
    <%= f.text_field :topic_cont, :class => "form-control", :placeholder => "Topic contains" %>
  </div>

  <div class="form-group">
    <%= f.label :picture_cont, "Picture contains" %>
    <%= f.text_field :picture_cont, :class => "form-control", :placeholder => "Picture contains" %>
  </div>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :creator_email_cont, "User email contains" %>
    <%= f.text_field :creator_email_cont, :class => "form-control", :placeholder => "User email contains" %>
  </div>

  <div class="form-group">
    <%= f.label :messages_body_cont, "Message body contains" %>
    <%= f.text_field :messages_body_cont, :class => "form-control", :placeholder => "Message body contains" %>
  </div>

  <div class="form-group">
    <%= f.label :users_email_cont, "User email contains" %>
    <%= f.text_field :users_email_cont, :class => "form-control", :placeholder => "User email contains" %>
  </div>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/chats" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#chats_filters">
  Show filters
</a>
