<% was_validated = chat.errors.any? %>

<%= form_with(model: chat, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% name_class = "form-control" %>
    <% name_was_invalid = chat.errors.include?(:name) %>

    <% if was_validated %>
      <% if name_was_invalid %>
        <% name_class << " is-invalid" %>
      <% else %>
        <% name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name, class: name_class, placeholder: "Enter name" %>
    <% if name_was_invalid %>
      <% chat.errors.full_messages_for(:name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.hidden_field :creator_id, value: current_user.id %>
  <div class="form-group">
    <% picture_class = "form-control" %>
    <% picture_was_invalid = chat.errors.include?(:picture) %>

    <% if was_validated %>
      <% if picture_was_invalid %>
        <% picture_class << " is-invalid" %>
      <% else %>
        <% picture_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :picture %>
    <%= f.text_field :picture, class: picture_class, placeholder: "Enter picture" %>
    <% if picture_was_invalid %>
      <% chat.errors.full_messages_for(:picture).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% topic_class = "form-control" %>
    <% topic_was_invalid = chat.errors.include?(:topic) %>

    <% if was_validated %>
      <% if topic_was_invalid %>
        <% topic_class << " is-invalid" %>
      <% else %>
        <% topic_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :topic %>
    <%= f.text_area :topic, class: topic_class, placeholder: "Enter topic" %>
    <% if topic_was_invalid %>
      <% chat.errors.full_messages_for(:topic).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% link_class = "form-control" %>
    <% link_was_invalid = chat.errors.include?(:link) %>

    <% if was_validated %>
      <% if link_was_invalid %>
        <% link_class << " is-invalid" %>
      <% else %>
        <% link_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :link %>
    <%= f.text_field :link, class: link_class, placeholder: "Enter link" %>
    <% if link_was_invalid %>
      <% chat.errors.full_messages_for(:link).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% cover_class = "form-control" %>
    <% cover_was_invalid = chat.errors.include?(:cover) %>

    <% if was_validated %>
      <% if cover_was_invalid %>
        <% cover_class << " is-invalid" %>
      <% else %>
        <% cover_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :cover %>
    <%= f.text_field :cover, class: cover_class, placeholder: "Enter cover" %>
    <% if cover_was_invalid %>
      <% chat.errors.full_messages_for(:cover).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-check">
    <% event_class = "form-check-input" %>
    <% event_was_invalid = chat.errors.include?(:event) %>

    <% if was_validated %>
      <% if event_was_invalid %>
        <% event_class << " is-invalid" %>
      <% else %>
        <% event_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :event, class: "form-check-label" do %>
      <%= f.check_box :event, class: event_class %> Event
    <% end %>
    <% if event_was_invalid %>
      <% chat.errors.full_messages_for(:event).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% starts_at_class = "form-control" %>
    <% starts_at_was_invalid = chat.errors.include?(:starts_at) %>

    <% if was_validated %>
      <% if starts_at_was_invalid %>
        <% starts_at_class << " is-invalid" %>
      <% else %>
        <% starts_at_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :starts_at %>
    <%= f.datetime_select :starts_at, class: starts_at_class, placeholder: "Enter starts at" %>
    <% if starts_at_was_invalid %>
      <% chat.errors.full_messages_for(:starts_at).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% ends_at_class = "form-control" %>
    <% ends_at_was_invalid = chat.errors.include?(:ends_at) %>

    <% if was_validated %>
      <% if ends_at_was_invalid %>
        <% ends_at_class << " is-invalid" %>
      <% else %>
        <% ends_at_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :ends_at %>
    <%= f.datetime_select :ends_at, class: ends_at_class, placeholder: "Enter ends at" %>
    <% if ends_at_was_invalid %>
      <% chat.errors.full_messages_for(:ends_at).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
