<div class="card mb-3">
  <h2 class="card-header h4">
    Invitation #<%= invitation.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Chat</dt>
      <dd>
        <% if @invitation.chat.present? %>
          <%= link_to invitation.chat, invitation.chat %>
        <% end %>
      </dd>

      <dt>Recipient</dt>
      <dd>
        <% if @invitation.recipient.present? %>
          <%= link_to invitation.recipient, invitation.recipient %>
        <% end %>
      </dd>

      <dt>Token</dt>
      <dd><%= invitation.token %></dd>

      <dt>Clicked</dt>
      <dd><%= invitation.clicked %></dd>

      <dt>Rsvp status</dt>
      <dd><%= invitation.rsvp_status %></dd>

      <dt>Role</dt>
      <dd><%= invitation.role %></dd>

      <dt>Sender</dt>
      <dd>
        <% if @invitation.sender.present? %>
          <%= link_to invitation.sender, invitation.sender %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back invitation, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <% if current_user == @invitation.sender %>
          <%= link_to edit_invitation_url(invitation), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @invitation.sender %>
          <%= link_to invitation, method: :delete, data: { confirm: "Do you really want to delete this invitation?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(invitation.updated_at) %> ago
  </div>
</div>
