<% was_validated = invitation.errors.any? %>

<%= form_with(model: invitation, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% chat_class = "form-control" %>
    <% chat_was_invalid = invitation.errors.include?(:chat) %>

    <% if was_validated %>
      <% if chat_was_invalid %>
        <% chat_class << " is-invalid" %>
      <% else %>
        <% chat_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :chat_id %>
    <%= f.collection_select :chat_id, Chat.all, :id, :to_s, {}, class: "form-control" %>
    <% if chat_was_invalid %>
      <% invitation.errors.full_messages_for(:chat).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% recipient_class = "form-control" %>
    <% recipient_was_invalid = invitation.errors.include?(:recipient) %>

    <% if was_validated %>
      <% if recipient_was_invalid %>
        <% recipient_class << " is-invalid" %>
      <% else %>
        <% recipient_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :recipient_id %>
    <%= f.collection_select :recipient_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <% if recipient_was_invalid %>
      <% invitation.errors.full_messages_for(:recipient).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% token_class = "form-control" %>
    <% token_was_invalid = invitation.errors.include?(:token) %>

    <% if was_validated %>
      <% if token_was_invalid %>
        <% token_class << " is-invalid" %>
      <% else %>
        <% token_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :token %>
    <%= f.text_field :token, class: token_class, placeholder: "Enter token" %>
    <% if token_was_invalid %>
      <% invitation.errors.full_messages_for(:token).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% clicked_class = "form-control" %>
    <% clicked_was_invalid = invitation.errors.include?(:clicked) %>

    <% if was_validated %>
      <% if clicked_was_invalid %>
        <% clicked_class << " is-invalid" %>
      <% else %>
        <% clicked_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :clicked %>
    <%= f.number_field :clicked, class: clicked_class, placeholder: "Enter clicked" %>
    <% if clicked_was_invalid %>
      <% invitation.errors.full_messages_for(:clicked).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% rsvp_status_class = "form-control" %>
    <% rsvp_status_was_invalid = invitation.errors.include?(:rsvp_status) %>

    <% if was_validated %>
      <% if rsvp_status_was_invalid %>
        <% rsvp_status_class << " is-invalid" %>
      <% else %>
        <% rsvp_status_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :rsvp_status %>
    <%= f.text_field :rsvp_status, class: rsvp_status_class, placeholder: "Enter rsvp status" %>
    <% if rsvp_status_was_invalid %>
      <% invitation.errors.full_messages_for(:rsvp_status).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% role_class = "form-control" %>
    <% role_was_invalid = invitation.errors.include?(:role) %>

    <% if was_validated %>
      <% if role_was_invalid %>
        <% role_class << " is-invalid" %>
      <% else %>
        <% role_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :role %>
    <%= f.text_field :role, class: role_class, placeholder: "Enter role" %>
    <% if role_was_invalid %>
      <% invitation.errors.full_messages_for(:role).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.hidden_field :sender_id, value: current_user.id %>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
