<div class="card mb-3">
  <h2 class="card-header h4">
    Contact #<%= contact.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Adder</dt>
      <!-- Display adder_id start -->
      <dd>
        <% if @contact.adder.present? %>
          <%= link_to contact.adder, contact.adder %>
        <% end %>
      </dd>
      <!-- Display adder_id end -->

      <dt>Name</dt>
      <!-- Display name start -->
      <dd><%= contact.name %></dd>
      <!-- Display name end -->

      <dt>Added</dt>
      <!-- Display added_id start -->
      <dd>
        <% if @contact.added.present? %>
          <%= link_to contact.added, contact.added %>
        <% end %>
      </dd>
      <!-- Display added_id end -->

      <dt>Email</dt>
      <!-- Display email start -->
      <dd><%= contact.email %></dd>
      <!-- Display email end -->

      <dt>Picture</dt>
      <!-- Display picture start -->
      <dd><%= contact.picture %></dd>
      <!-- Display picture end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back contact, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link contact start -->
      <div class="col">
        <% if current_user == @contact.adder %>
          <%= link_to edit_contact_url(contact), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>
      <!-- Edit link contact end -->

      <!-- Delete link contact start -->
      <div class="col">
        <% if current_user == @contact.adder %>
          <%= link_to contact, method: :delete, data: { confirm: "Do you really want to delete this contact?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
      <!-- Delete link contact end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(contact.updated_at) %> ago
  </div>
</div>
