<%= form_with(model: @circles_contact, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :circle_id %>
    <%= f.collection_select :circle_id, Circle.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :contact_id, value: @contact.id %>

  <%= f.submit "Create circles contact", class: "btn btn-block btn-outline-secondary" %>
<% end %>
