<!-- Form circles_contact start -->
<%= form_with(model: @circles_contact, local: true) do |f| %>
<!-- Form circles_contact end -->

  <!-- Label and input for circle_id start -->
  <!-- Input for circle_id start -->
  <%= f.hidden_field :circle_id, value: @circle.id %>
  <!-- Input for circle_id end -->
  <!-- Label and input for circle_id end -->

  <!-- Label and input for contact_id start -->
  <div class="form-group">
    <%= f.label :contact_id %>
    <!-- Input for contact_id start -->
    <%= f.text_field :contact_id, class: "form-control" %>
    <!-- Input for contact_id end -->
  </div>
  <!-- Label and input for contact_id end -->

  <%= f.submit "Create circles contact", class: "btn btn-block btn-outline-secondary" %>
<% end %>
