<%= form_with(model: @circles_contact, local: true) do |f| %>

  <%= f.hidden_field :circle_id, value: @circle.id %>

  <div class="form-group">
    <%= f.label :contact_id %>
    <%= f.collection_select :contact_id, Contact.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create circles contact", class: "btn btn-block btn-outline-secondary" %>
<% end %>
